@import "tailwindcss";

:root {
  --foreground-rgb: 30, 41, 59; /* Slate 800 */
  --background-start-rgb: 241, 245, 249; /* Slate 100 */
  --background-end-rgb: 255, 255, 255; /* White */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  color: rgb(var(--foreground-rgb));
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #bfdbfe; /* Blue 200 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #93c5fd; /* Blue 300 */
}